<h1>Space Quiz</h1>
<button pButton label="Play" *ngIf="!isOn" (click)="isOn= true">Start Quiz</button>
<div *ngIf="!isOn">This shows when game hasn't started</div>
<div *ngIf="isOn">
<form id='quiz-form' role='form'>
  <div class="headerquiz"><span>Quiz App </span> <span class="headerscore"></span></div>
      <h2 id="quizstat">Question Number: {{count+1}} </h2>
      <div class="quizquestion">Question: {{currentQuestion}}</div>
      <div class="answerList">Answer List</div>
      <input type='radio' name="ansbttns" class="option-input"><label class="testing">{{answerChoiceArray[0]}}</label>
      <br/>
      <input type='radio' name="ansbttns" class="option-input"><label class="testing">{{answerChoiceArray[1]}}</label>
      <br/>
      <input type='radio' name="ansbttns" class="option-input"><label class="testing">{{answerChoiceArray[2]}}</label>
      <br/>
      <button id="submit" type="button">Submit</button>    
      <div id="results"> </div>
      
      
  </form>
</div>












